<section class="prototype__editor" ng-class="{ 'editor--left': toggle.left, 'editor--right': toggle.right, 'editor--bottom': toggle.bottom }">
	<div class="editor__center">
		<aside class="editor__left">
			<div class="editor__section__header">
				<a href class="button--add" ng-click="toggleBar('bottom', $event)">+</a>
				<a href class="button--delete" ng-click="remove()">
					<i class="fa fa-trash-o"></i>
				</a>
			</div>
			<div class="editor__section">
				<h3 class="editor__section__title">
					<a href ng-click="expanded.layout = !expanded.layout">
						Disposition
						<i class="fa" ng-class="{ 'fa-angle-down': !expanded.layout, 'fa-angle-up': expanded.layout }"></i>
					</a>
				</h3>
				<div class="editor__section__panel" ng-class="{ open: expanded.layout }">
					<h5 class="editor__section__subtitle">Taille</h5>
					<div class="form__field">
						<label>Largeur</label>
						<select class="unit" ng-model="selected.units.width">
							<option value="px">px</option>
							<option value="rem">rem</option>
							<option value="%">%</option>
						</select>
						<input type="number" ng-model="selected.style.width" ng-model-suffix="selected.units.width">
					</div>
					<div class="form__field">
						<label>Hauteur</label>
						<select class="unit" ng-model="selected.units.height">
							<option value="px">px</option>
							<option value="rem">rem</option>
							<option value="%">%</option>
						</select>
						<input type="number" ng-model="selected.style.height" ng-model-suffix="selected.units.height">
					</div>

					<h5 class="editor__section__subtitle">Marge extérieure</h5>
					<div class="form__field">
						<label>Haute</label>
						<select class="unit" ng-model="selected.units.marginTop">
							<option value="px">px</option>
							<option value="rem">rem</option>
							<option value="%">%</option>
						</select>
						<input type="number" ng-model="selected.style.marginTop" ng-model-suffix="selected.units.marginTop">
					</div>
					<div class="form__field">
						<label>Droite</label>
						<select class="unit" ng-model="selected.units.marginRight">
							<option value="px">px</option>
							<option value="rem">rem</option>
							<option value="%">%</option>
						</select>
						<input type="number" ng-model="selected.style.marginRight" ng-model-suffix="selected.units.marginRight">
					</div>
					<div class="form__field">
						<label>Basse</label>
						<select class="unit" ng-model="selected.units.marginBottom">
							<option value="px">px</option>
							<option value="rem">rem</option>
							<option value="%">%</option>
						</select>
						<input type="number" ng-model="selected.style.marginBottom" ng-model-suffix="selected.units.marginBottom">
					</div>
					<div class="form__field">
						<label>Gauche</label>
						<select class="unit" ng-model="selected.units.marginLeft">
							<option value="px">px</option>
							<option value="rem">rem</option>
							<option value="%">%</option>
						</select>
						<input type="number" ng-model="selected.style.marginLeft" ng-model-suffix="selected.units.marginLeft">
					</div>

					<h5 class="editor__section__subtitle">Marge intérieure</h5>
					<div class="form__field">
						<label>Haute</label>
						<select class="unit" ng-model="selected.units.paddingTop">
							<option value="px">px</option>
							<option value="rem">rem</option>
							<option value="%">%</option>
						</select>
						<input type="number" ng-model="selected.style.paddingTop" ng-model-suffix="selected.units.paddingTop">
					</div>
					<div class="form__field">
						<label>Droite</label>
						<select class="unit" ng-model="selected.units.paddingRight">
							<option value="px">px</option>
							<option value="rem">rem</option>
							<option value="%">%</option>
						</select>
						<input type="number" ng-model="selected.style.paddingRight" ng-model-suffix="selected.units.paddingRight">
					</div>
					<div class="form__field">
						<label>Basse</label>
						<select class="unit" ng-model="selected.units.paddingBottom">
							<option value="px">px</option>
							<option value="rem">rem</option>
							<option value="%">%</option>
						</select>
						<input type="number" ng-model="selected.style.paddingBottom" ng-model-suffix="selected.units.paddingBottom">
					</div>
					<div class="form__field">
						<label>Gauche</label>
						<select class="unit" ng-model="selected.units.paddingLeft">
							<option value="px">px</option>
							<option value="rem">rem</option>
							<option value="%">%</option>
						</select>
						<input type="number" ng-model="selected.style.paddingLeft" ng-model-suffix="selected.units.paddingLeft">
					</div>
				</div>
			</div>

			<div class="editor__section">
				<h3 class="editor__section__title">
					<a href ng-click="expanded.background = !expanded.background">
						Arrière-plan
						<i class="fa" ng-class="{ 'fa-angle-down': !expanded.background, 'fa-angle-up': expanded.background }"></i>
					</a>
				</h3>
				<div class="editor__section__panel" ng-class="{ open: expanded.background }">
					<div class="form__field">
						<label>Opacité</label>
						<input type="number" min="0" max="1" step="0.05" ng-model="selected.style.opacity" ng-model-type="number">
					</div>
					<div class="form__field">
						<label>Couleur</label>
						<color-picker color-picker-format="'rgb'" color-picker-pos="'bottom right'" ng-model="selected.style.backgroundColor"></color-picker>
					</div>
					<br>
				</div>
			</div>

			<div class="editor__section">
				<h3 class="editor__section__title">
					<a href ng-click="expanded.effects = !expanded.effects">
						Ombre
						<i class="fa" ng-class="{ 'fa-angle-down': !expanded.effects, 'fa-angle-up': expanded.effects }"></i>
					</a>
				</h3>
				<div class="editor__section__panel" ng-class="{ open: expanded.effects }">
					<div class="form__field">
						<label>Horizontal</label>
						<select class="unit" ng-model="selected.units.boxShadow.x">
							<option value="px">px</option>
							<option value="rem">rem</option>
							<option value="%">%</option>
						</select>
						<input type="number" ng-model="selected.style.boxShadow" ng-model-suffix="[selected.units.boxShadow.x, selected.boxShadow.y, selected.boxShadow.blur, selected.boxShadow.spread, selected.boxShadow.color]">
					</div>

					<div class="form__field">
						<label>Vertical</label>
						<select class="unit" ng-model="selected.units.boxShadow.y">
							<option value="px">px</option>
							<option value="rem">rem</option>
							<option value="%">%</option>
						</select>
						<input type="number" ng-model="selected.boxShadow.y" ng-model-suffix="selected.units.boxShadow.y">
					</div>

					<div class="form__field">
						<label>Flou</label>
						<select class="unit" ng-model="selected.units.boxShadow.blur">
							<option value="px">px</option>
							<option value="rem">rem</option>
							<option value="%">%</option>
						</select>
						<input type="number" ng-model="selected.boxShadow.blur" ng-model-suffix="selected.units.boxShadow.blur">
					</div>

					<div class="form__field">
						<label>Diffusion</label>
						<select class="unit" ng-model="selected.units.boxShadow.spread">
							<option value="px">px</option>
							<option value="rem">rem</option>
							<option value="%">%</option>
						</select>
						<input type="number" ng-model="selected.boxShadow.spread" ng-model-suffix="selected.units.boxShadow.spread">
					</div>

					<div class="form__field">
						<label>Couleur</label>
						<color-picker color-picker-format="'rgb'" color-picker-pos="'bottom right'" ng-model="selected.boxShadow.color"></color-picker>
					</div>
				</div>
			</div>

			<div class="editor__section">
				<h3 class="editor__section__title">
					<a href ng-click="expanded.border = !expanded.border">
						Bordure
						<i class="fa" ng-class="{ 'fa-angle-down': !expanded.border, 'fa-angle-up': expanded.border }"></i>
					</a>
				</h3>
				<div class="editor__section__panel" ng-class="{ open: expanded.border }">
					<div class="form__field">
						<label>Épaisseur</label>
						<select class="unit" ng-model="selected.units.borderWidth">
							<option value="px">px</option>
							<option value="rem">rem</option>
							<option value="%">%</option>
						</select>
						<input type="number" ng-model="selected.style.borderWidth" ng-model-suffix="selected.units.borderWidth">
					</div>

					<div class="form__field">
						<label>Arrondie</label>
						<select class="unit" ng-model="selected.units.borderRadius">
							<option value="px">px</option>
							<option value="rem">rem</option>
							<option value="%">%</option>
						</select>
						<input type="number" ng-model="selected.style.borderRadius" ng-model-suffix="selected.units.borderRadius">
					</div>

					<div class="form__field">
						<label>Couleur</label>
						<color-picker color-picker-format="'rgb'" color-picker-pos="'bottom right'" ng-model="selected.style.borderColor"></color-picker>
					</div>

					<h5 class="editor__section__subtitle">Style</h5>
					<div class="form__field form__field--center">
						<a href class="form__element__button" title="Solide" ng-click="changeProperty('borderStyle', 'solid')" ng-class="{ selected: selected.style.borderStyle === 'solid' }">
							<span style="position: relative; top: -11px; font-size: 20px;">__</span>
						</a>
						<a href class="form__element__button" title="Hachurée" ng-click="changeProperty('borderStyle', 'dashed')" ng-class="{ selected: selected.style.borderStyle === 'dashed' }">
							<span style="position: relative; top: -4px; font-size: 20px;">---</span>
						</a>
						<a href class="form__element__button" title="Pointillée" ng-click="changeProperty('borderStyle', 'dotted')" ng-class="{ selected: selected.style.borderStyle === 'dotted' }">
							<span style="position: relative; top: -7px; font-size: 20px;">...</span>
						</a>
					</div>
				</div>
			</div>
		</aside>

		<article id="container" class="editor__middle">
			<div class="editor__middle__content">
				<section id="content" class="prototype__view"></section>
				<a class="editor__add" title="Ajouter du contenu (Alt + Ins)" ng-click="toggleBar('bottom', $event)"></a>
			</div>
		</article>

		<aside class="editor__right">
			<div class="editor__section" ng-if="selected.classList.contains('text')">
				<h3 class="editor__section__title">
					<a href ng-click="expanded.content = !expanded.content">
						Contenu
						<i class="fa" ng-class="{ 'fa-angle-down': !expanded.content, 'fa-angle-up': expanded.content }"></i>
					</a>
					<div class="editor__section__panel" ng-class="{ open: expanded.content }">
						<div class="form__field">
							<textarea class="text_content" ng-model="selected.innerHTML"></textarea>
						</div>
					</div>
				</h3>
			</div>

			<div class="editor__section" ng-if="selected.classList.contains('image')">
				<h3 class="editor__section__title">
					<a href ng-click="expanded.content = !expanded.content">
						Contenu
						<i class="fa" ng-class="{ 'fa-angle-down': !expanded.content, 'fa-angle-up': expanded.content }"></i>
					</a>
					<div class="editor__section__panel" ng-class="{ open: expanded.content }">
						<div class="form__field">
							<input type="text" ng-model="selected.src">
						</div>
					</div>
				</h3>
			</div>

			<div class="editor__section" ng-if="selected.classList.contains('list')">
				<h3 class="editor__section__title">
					<a href ng-click="expanded.content = !expanded.content">
						Contenu
						<i class="fa" ng-class="{ 'fa-angle-down': !expanded.content, 'fa-angle-up': expanded.content }"></i>
					</a>
					<div class="editor__section__panel list" ng-class="{ open: expanded.content }">
						<div class="form__field" ng-repeat="child in selected.children">
							<input type="text" ng-model="child.innerHTML">
							<a href class="button--remove_list" ng-click="removeFromList($index)">&times;</a>
						</div>
						<a href class="button--add_list" ng-click="addToList('li')">Ajouter</a>
					</div>
				</h3>
			</div>

			<div class="editor__section" ng-if="selected.classList.contains('text') || selected.classList.contains('list')">
				<h3 class="editor__section__title">
					<a href ng-click="expanded.typography = !expanded.typography">
						Typographie
						<i class="fa" ng-class="{ 'fa-angle-down': !expanded.typography, 'fa-angle-up': expanded.typography }"></i>
					</a>
				</h3>

				<div class="editor__section__panel" ng-class="{ open: expanded.typography }">
					<div class="form__field">
						<label>Police</label>
						<select ng-model="selected.style.fontFamily" ng-options="item for item in fontFamilies"></select>
					</div>

					<div class="form__field">
						<label>Épaisseur</label>
						<select ng-model="selected.style.fontWeight">
							<option value="300">Fin</option>
							<option value="normal">Normal</option>
							<option value="600">Moyen</option>
							<option value="bold">Gras</option>
							<option value="800">Très gras</option>
						</select>
					</div>

					<div class="form__field">
						<label>Taille</label>
						<select class="unit" ng-model="selected.units.fontSize">
							<option value="px">px</option>
							<option value="rem">rem</option>
							<option value="%">%</option>
						</select>
						<input type="number" ng-model="selected.style.fontSize" ng-model-suffix="selected.units.fontSize">
					</div>

					<div class="form__field">
						<label>Interligne</label>
						<select class="unit" ng-model="selected.units.lineHeight">
							<option value="px">px</option>
							<option value="rem">rem</option>
							<option value="%">%</option>
						</select>
						<input type="number" step="0.2" ng-model="selected.style.lineHeight" ng-model-suffix="selected.units.lineHeight">
					</div>

					<div class="form__field">
						<label>Couleur</label>
						<color-picker color-picker-format="'rgb'" color-picker-pos="'bottom right'" ng-model="selected.style.color"></color-picker>
					</div>

					<h5 class="editor__section__subtitle">Décoration</h5>
					<div class="form__field form__field--center">
						<a href class="form__element__button" title="Surligné" ng-click="changeProperty('textDecoration', 'overline', 'none')" ng-class="{ selected: selected.style.textDecoration === 'overline' }">
							<span class="icon-overline">O</span>
						</a>
						<a href class="form__element__button" title="Barré" ng-click="changeProperty('textDecoration',  'line-through', 'none')" ng-class="{ selected: selected.style.textDecoration === 'line-through' }">
							<i class="fa fa-strikethrough"></i>
						</a>
						<a href class="form__element__button" title="Souligné" ng-click="changeProperty('textDecoration', 'underline', 'none')" ng-class="{ selected: selected.style.textDecoration === 'underline' }">
							<i class="fa fa-underline"></i>
						</a>
						<a href class="form__element__button" title="Italique" ng-click="changeProperty('fontStyle', 'italic', 'normal')" ng-class="{ selected: selected.style.fontStyle === 'italic' }">
							<i class="fa fa-italic"></i>
						</a>
					</div>

					<h5 class="editor__section__subtitle">Casse</h5>
					<div class="form__field form__field--center">
						<a href class="form__element__button" title="Petites capitales" ng-click="changeProperty('fontVariant',  'small-caps', 'normal')" ng-class="{ selected: selected.style.fontVariant === 'small-caps' }" style="text-decoration: none; width: 40px">
							<span style="font-family: serif; font-size: 18px; font-variant: small-caps">tt</span>
						</a>
						<a href class="form__element__button" title="Majuscules" ng-click="changeProperty('textTransform', 'uppercase', 'none')" ng-class="{ selected: selected.style.textTransform === 'uppercase' }" style="text-decoration: none; width: 40px">
							<span style="font-family: serif; font-size: 18px;">TT</span>
						</a>
						<a href class="form__element__button" title="Minuscules" ng-click="changeProperty('textTransform', 'lowercase', 'none')" ng-class="{ selected: selected.style.textTransform === 'lowercase' }" style="text-decoration: none; width: 40px">
							<span style="font-family: serif; font-size: 18px;">tt</span>
						</a>
						<a href class="form__element__button" title="1ère lettre en majuscule" ng-click="changeProperty('textTransform', 'capitalize', 'none')" ng-class="{ selected: selected.style.textTransform === 'capitalize' }" style="text-decoration: none; width: 40px">
							<span style="font-family: serif; font-size: 18px;">Tt</span>
						</a>
					</div>

					<h5 class="editor__section__subtitle">Alignement</h5>
					<div class="form__field  form__field--center">
						<a href class="form__element__button" title="Justifié" ng-click="changeProperty('textAlign', 'justify')" ng-class="{ selected: selected.style.textAlign === 'justify' }">
							<i class="fa fa-align-justify"></i>
						</a>
						<a href class="form__element__button" title="Droit" ng-click="changeProperty('textAlign', 'right')" ng-class="{ selected: selected.style.textAlign === 'right' }">
							<i class="fa fa-align-right"></i>
						</a>
						<a href class="form__element__button" title="Centré" ng-click="changeProperty('textAlign', 'center')" ng-class="{ selected: selected.style.textAlign === 'center' }">
							<i class="fa fa-align-center"></i>
						</a>
						<a href class="form__element__button" title="Gauche" ng-click="changeProperty('textAlign', 'left')" ng-class="{ selected: selected.style.textAlign === 'left' }">
							<i class="fa fa-align-left"></i>
						</a>
					</div>

					<h5 class="editor__section__subtitle">Espacement</h5>
					<div class="form__field">
						<label>Mots</label>
						<select class="unit" ng-model="selected.units.wordSpacing">
							<option value="px">px</option>
							<option value="rem">rem</option>
							<option value="%">%</option>
						</select>
						<input type="number" ng-model="selected.style.wordSpacing" ng-model-suffix="selected.units.wordSpacing">
					</div>

					<div class="form__field">
						<label>Caractères</label>
						<select class="unit" ng-model="selected.units.letterSpacing">
							<option value="px">px</option>
							<option value="rem">rem</option>
							<option value="%">%</option>
						</select>
						<input type="number" ng-model="selected.style.letterSpacing" ng-model-suffix="selected.units.letterSpacing">
					</div>
				</div>
			</div>
		</aside>
	</div>

	<aside class="editor__bottom">
		<a href class="editor__bottom__element section" ng-click="addMarkup('div', 'block')">Section</a>
		<a href class="editor__bottom__element text" ng-click="addMarkup('p', 'text')">Paragraphe</a>
		<a href class="editor__bottom__element text" ng-click="addMarkup('h1', 'text')">Titre</a>
		<a href class="editor__bottom__element text" ng-click="addMarkup('h3', 'text')">Sous-titre</a>
		<a href class="editor__bottom__element text" ng-click="addMarkup('span', 'inline', 'text')">Texte</a>
		<a href class="editor__bottom__element inline" ng-click="getIcon()">Icône</a>
		<a href class="editor__bottom__element inline" ng-click="getImage()">Image</a>
		<a href class="editor__bottom__element inline" ng-click="addMarkup('span', 'inline', 'text', 'button')">Bouton</a>
		<a href class="editor__bottom__element inline" ng-click="addMarkup('ul', 'list')">Liste désordonnée</a>
		<a href class="editor__bottom__element inline" ng-click="addMarkup('ol', 'list')">Liste ordonnée</a>
		<a href class="editor__bottom__element column" ng-click="addColumns(12)">1 colonne</a>
		<a href class="editor__bottom__element column" ng-click="addColumns(6)">2 colonnes</a>
		<a href class="editor__bottom__element column" ng-click="addColumns(4)">3 colonnes</a>
		<a href class="editor__bottom__element column" ng-click="addColumns(3)">4 colonnes</a>
		<a href class="editor__bottom__element column" ng-click="addColumns(2)">6 colonnes</a>
		<a href class="editor__bottom__element column" ng-click="addColumns(1)">12 colonnes</a>
	</aside>
</section>
