<h2 class="modal__title">Choisissez une icône</h2>

<div class="filter__search icons" ng-class="{ active: search, 'filter__search--filled': query.length }">
	<label for="search" class="fa fa-search"></label>
	<input type="text" id="search" placeholder="Recherche..." autofocus ng-focus="search = true" ng-blur="search = false" ng-model="query">
</div>

<div class="icons">
	<a href ng-repeat="icon in filteredIcons = (icons | filter:query)">
		<i class="fa" ng-class="'fa-' + icon" ng-click="choose(icon, $event)"></i>
	</a>
</div>

<p class="result--none" ng-hide="!query.length || filteredIcons.length">
	<span class="result__title">Aucun résultat</span>
</p>

<a class="button button--default" ui-sref="^">Retour</a>
