<input type="file" id="imagePicker" accept="image/*" style="display:none;">
<button type="button" class="button button--primary" ng-click="choose()">
	Ch{{ image ? 'anger d\'' : 'oisir une ' }}image
</button>
<div class="image__container">
	<button type="button" class="button--close" ng-if="image" ng-click="remove()">&times;</button>
	<div id="imagePreview" class="image_preview" ng-class="{ uploading: uploading }"></div>
</div>
