// Settings
@import 'settings/colors';
@import 'settings/variables';

// Utils
@import 'utils/grid';

// Base
@import 'base/reset';
@import 'base/base';
@import 'base/layout';

// Components
@import 'components/modal';
@import 'components/header';
@import 'components/dropdown';
@import 'components/hero';
@import 'components/team';
@import 'components/filter';
@import 'components/card';
@import 'components/version';
@import 'components/button';
@import 'components/status';
@import 'components/workflow';
@import 'components/comment';
@import 'components/form';

.page{
	transition: filter .1s;
	&.blurred{ filter: blur(2px); }
}
.section--toggable{
	transform: translateY(-100%);
	transition: transform .2s;
	&.open{ transform: translateY(0); }
	&.fullscreen{
		position: fixed;
		top: 0; left: 0; right: 0; bottom: 0;
		overflow: auto;
		z-index: 1;
		.hero, .section__toggle, .arrow{ display: none; }
	}
}
.section__content {
	width: 100%;
}
.section__content, .section__toggle{ float: left; }
.section__toggle{
	display: block;
	width: 100%; height: 25px;
	line-height: 25px;
	background-color: $gray-light;
	text-align: center;
	font-size: 18px;
	color: $gray-blue;
	transition: color .2s;
	&:hover{ color: $coral; }
}

.tag{
	position: relative;
	top: -4px;
	margin-left: 15px;
	padding: 5px 10px;
	background-color: $gray-blue;
	border-radius: 3px;
	font-size: 10px;
	box-shadow: $button-shadow;
	color: $gray;
	font-weight: 600;
}

.prototype__container{
	position: absolute;
	left: 0; right: 0;
	padding-top: 0;
	height: calc(100% - 105px);
	overflow: auto;
	@include large-screen-up{
		overflow: hidden;
	}
}

.prototype__preview__content, .prototype__preview, .prototype__sidebar{
	@include medium-screen-up{
		position: relative;
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
	}
}

.prototype__preview{
	@include column-medium(7);
	@include column-large(8);
}
.prototype__preview--comment .prototype__view{ cursor: crosshair; }

.prototype__sidebar{
	width: 100%;
	padding-top: 20px;
	box-shadow: $box-shadow-darker;
	@include column-medium(5);
	@include column-large(4);
	@include medium-screen-up{ float: right; }

	&--comment{ padding-bottom: 0; }
	.filter__search{
		margin-left: 20px;
		margin-bottom: 10px;
	}
}

.prototype__add{
	position: absolute;
	top: -25px; right: 15px;
	width: 50px; height: 50px;
	margin-right: 8px;
	border-radius: 100%;
	font-size: 24px;
	font-weight: 600;
	line-height: 50px;
	letter-spacing: 1px;
	text-align: center;
	text-shadow: 0 0 2px rgba($black, .2);
	text-decoration: none;
	color: $gray-lighter;
	background-color: $cyan;
	transition: all .15s;
	box-shadow: $button-shadow-darker;

	@include medium-screen{ right: 25px; }
	@include large-screen-up{ right: -5px; }
	&:hover{ transform: scale3d(1.1, 1.1, 1); }
	.fa{
		position: relative;
		top: -1px;
		margin-left: 4px;
		margin-right: -6px;
		font-size: 20px;
	}
}

.arrow{
	position: absolute;
	display: block;
	top: 50%;
	width: 10%;
	font-size: 50px;
	text-decoration: none;
	color: $gray-blue;
	transform: translateY(-50%);
	transition: color .2s;

	&:hover{ color: $coral; }
}
.arrow__left{ left: 20px; }
.arrow__right{
	right: 20px;
	text-align: right;
}

a{ color: $black; }

h1{ text-align: center; }

legend{ background-color: $gray-lighter !important; }

.result--none{
	text-align: center;
	font-style: italic;
	.fa{
		display: block;
		line-height: 1.6;
		color: $gray-dark;
		font-size: 90px;
	}
}
.result__title{
	display: block;
	font-size: 20px;
	font-weight: 200;
}

// Logo
.lg-b{ display: none; }
.lg-1{ fill: #ff4f55; }
.lg-2{ fill: #bf3b40; }
.lg-3{ fill: #ff9599; }
.lg-1, .lg-2, .lg-3{
	transition: all .15s;
	&:hover { fill: $white; }
}

// imagePreview
.image__container{
	position: relative;
	max-width: 50%;
	max-height: 50%;
	margin-bottom: 20px;
}
.image_preview .thumbnail{
	max-width: 100%;
	max-height: 100%;
	box-shadow: $button-shadow;
}

// export modal
.export{
	text-align: center;
	margin-top: 40px;
	.or{
		line-height: 3;
		display: block;
	}
}

// icons modal
.icons{
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	a{
		display: inline-block;
		width: 50px;
		margin: 5px;
		padding: 2px 5px;
		text-decoration: none;
		color: $gray-dark;
		font-size: 22px;
		line-height: 2;
		border-radius: 4px;
		background-color: $gray-light;
		border: 1px solid transparent;
		transition: border .2s, color .2s;
		&:hover{
			border-color: $gray;
			background-color: $white;
			color: $gray-darker;
		}
	}
}
