$sidebar-length: 300px;
$bottombar-height: 150px;

$body-color: #fafafa;
$black: rgba(#000, .4);
$white: #fff;
$yellow: #ffee58 ;
$red: #ef4035;
$green: #8cd790;
$green-darker: #7EC181;
$blue: #039be5;
$purple: #ab47bc ;
$ui-color: #252d3c;
$ui-font-color: #c9c9c9;
$ui-font-color-active: #fff;
$ui-border-color: #999;
$ui-border-color-active: #ddd;

.footer{ display: none; }

.prototype__editor{
	position: absolute;
	top: 106px; right: 0; bottom: 0; left: 0;
	background-color: $ui-color;
	overflow: hidden;

	.clear::after{
		content: '';
		display: table;
		clear: both;
	}
	&.editor--right{
		.editor__middle{ right: $sidebar-length; }
		.editor__right{ transform: translate3d(0, 0, 0); }
	}
	&.editor--left{
		.editor__middle{ left: $sidebar-length; }
		.editor__left{ transform: translate3d(0, 0, 0); }
	}
	&.editor--bottom{
		.editor__center{ bottom: $bottombar-height; }
		.editor__bottom{ transform: translate3d(0, 0, 0); }
	}
	.editor__section .form__field{
		margin-top: 0.2rem;
		&::after{
			content: '';
			display: table;
			clear: both;
		}
		> :not(label){ float: right; }
		> label{
			float: left;
			display: inline-block;
			position: static;
			font-size: 13px;
			line-height: 2.2rem;
		}
		input, select{
			margin-bottom: 5px;
			height: 2.2rem;
			padding-right: 5px;
			padding-left: 5px;
			background-color: $black;
			font-size: 13px;
			color: $ui-font-color;
			&:focus{ color: $ui-font-color-active; }
		}
		select{
			width: 150px;
			margin-left: 3px;
		}
		select.unit{ width: 60px; }
		input[type=number]{ width: 65px; }
		.icon-overline{
			position: relative;
			top: 2px;
			font-family: serif;
			font-size: 24px;
			border-top: 2px solid;
			line-height: 33px;
			text-decoration: none;
		}
		&--center{
			display: inline-block;
			width: auto;
			position: relative;
			left: 50%;
			transform: translate3d(-50%, 0, 0);
		}
	}
	.editor__section__subtitle{
		margin-top: .6rem;
		margin-bottom: .6rem;
	}
	.editor__section .form__element__button{
		display: inline-block;
		width: 35px;
		line-height: 35px;
		font-size: 20px;
		text-align: center;
		text-decoration: none;
		background-color: rgba(#000, .2);
		transition: background .2s;
		&:first-of-type{
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}
		&:last-of-type{
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}
		&.selected, &:hover{ background-color: $black; }
	}
	.editor__section__header, .editor__section__title a{
		position: relative;
		margin: 0 -10px;
		padding: 15px 20px;
		background-color: rgba(#000, .2);
		color: $ui-font-color;
	}
	.editor__section__header{
		margin-top: -30px;
		height: 55px;
		border-bottom: solid 1px #444;
	}
	.editor__section__title{
		margin-top: 0;
		margin-bottom: 0;
		font-size: 16px;
		font-weight: 200;
		a{
			display: block;
			transition: background .2s, color .2s;
			text-decoration: none;
			&:active, &:hover{
				color: $ui-font-color-active;
				background-color: rgba(#000, .4);
			}
		}
		.fa{
			position: absolute;
			top: 0; right: 26px;
			line-height: 46px;
			font-size: 20px;
		}
	}
	.editor__section__panel{
		padding: 0 18px;
		display: none;
		transition: opacity .4s;
		opacity: 0;
		&.open{
			display: block;
			opacity: 1;
		}

		.text_content{ color: $white; }

		&.list{ margin-top: 12px; }
		.button--add_list{
			display: inline-block;
			margin-bottom: 10px;
			margin-top: 10px;
			margin-left: 0px;
			padding: 4px 10px;
			border-radius: 2px;
			&:hover, &:active{ background-color: $green-darker; }
		}
		.button--remove_list{
			position: absolute;
			top: 4px; right: -15px;
			width: 25px; height: 25px;
			padding: 0;
			line-height: 25px;
			text-align: center;
			background-color: transparent;
			color: $white;
			font-size: 20px;
			&:hover, &:active{
				color: $red;
				background-color: transparent;
			}
		}
	}

	.color-picker-wrapper{ width: 150px; height: 2.2rem; display: inline-block; }
	.color-picker-wrapper .color-picker-input-wrapper{ display: block; }
	.color-picker-wrapper .input-group-addon{
		position: absolute;
		top: 0; bottom: 5px; left: 0;
		width: 35px;
		border: none;
	}
	.color-picker-input{ float: none !important; padding-left: 38px !important; }
	.color-picker-panel{ border: none; background-color: #333 }
	.color-picker-panel.color-picker-panel-bottom{ top: 100%; }
}

.editor__center, .editor__middle{
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
}
.editor__center{ transition: bottom .2s; }
.editor__middle, .prototype__preview, .prototype__view, .prototype__preview__content{
	background-color: $body-color;
	transition: right .2s, left .2s;
	overflow-y: auto;

	*{ line-height: 1.4; }
	div.element:empty{
		width: 100%; height: 300px;
		background-color: rgba(#000, .04);
		overflow: hidden;
	}
	.fa{ font-size: 26px; }
	.wrapper{
		position: relative;
		&.inline{ display: inline-block; }
		&::after{
			content: '';
			display: table;
			clear: both;
		}
	}
	.button{ line-height: 30px; }
	img{
		display: block;
		width: 100%;
		height: auto;
	}
}
.editor__middle .prototype__view{ overflow: visible; }
.editor__middle{
	background-color: #70777c;
	&__content{
		position: relative;
		width: 1280px;
		min-height: 960px;
		margin: 20px auto;
		background-color: $body-color;
		box-shadow: 0 0 50px 10px rgba(#000, .3)
	}
	.text.element, .list, .list > li{
		&:empty::after{
			color: rgba(#444, .5);
			font-style: italic;
			text-align: center;
		}
	}
	.list:empty::after{ content: 'Ajouter des éléments'; }
	.list > li:empty::after{ content: 'Élément'; }
	h1.element:empty::after{ content: 'Ajouter un titre'; }
	h3.element:empty::after{ content: 'Ajouter un sous-titre'; }
	p.element:empty::after{ content: 'Ajouter du contenu'; }
	span.element:empty::after{ content: 'Ajouter du texte'; }
	span.button:empty::after{ content: 'Bouton' }
}
.editor__middle .wrapper{
	cursor: pointer;
	&.hovered, &.selected{
		&::before{ border-color: #32aada; }
		&::after{ opacity: .85; }
	}
	&::before{
		content: '';
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		border: 3px dashed transparent;
		transition: border .2s;
	}
	&::after{
		content: attr(width) ' x ' attr(height);
		position: absolute;
		display: block;
		top: 3px; right: 3px;
		padding: 2px 10px;
		background-color: $ui-color;
		opacity: 0;
		line-height: normal;
		font-family: "Open Sans", sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		font-variant: normal;
		text-transform: none;
		text-decoration: none;
		word-spacing: normal;
		letter-spacing: normal;
		color: $ui-font-color;
		transition: opacity .2s;
		white-space: nowrap;
		z-index: 100;
	}
	&.inline::after{ top: auto; right: 0; bottom: 100%; }
}
.editor__right, .editor__left, .editor__bottom{
	position: absolute;
	bottom: 0;
	color: $ui-font-color;
	background-color: $ui-color;
	a, label{ color: $ui-font-color; }
	a:hover{ color: $ui-font-color-active; }
}
.editor__right, .editor__left{
	top: 0;
	width: $sidebar-length;
	padding: 30px 10px;
	overflow: auto;
	transition: transform .2s, bottom .2s;
	.button--add, .button--delete{
		position: absolute;
		top: 10px;
		width: 35px;
		border-radius: 2px;
		font-size: 22px;
		line-height: 35px;
		text-align: center;
		transition: background .2s;
	}
	.button--add{
		left: 15px;
		text-decoration: none;
		&:hover{ background-color: rgba($green, .6); }
	}
	.button--delete{
		right: 15px;
		&:hover{ background-color: rgba($red, .8); }
	}
}
.editor__right{
	right: 0;
	transform: translate3d($sidebar-length, 0, 0);
}
.editor__left{
	left: 0;
	transform: translate3d(-$sidebar-length, 0, 0);
}
.editor__bottom{
	right: 0; left: 0;
	height: 150px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
	transform: translate3d(0, $bottombar-height, 0);
	transition: transform .2s;
	overflow-y: auto;

	&__element{
		display: inline-block;
		// float: left;
		width: 150px;
		margin: 10px;
		border: 2px solid $ui-border-color;
		border-radius: 8px;
		text-align: center;
		text-decoration: none;
		line-height: 125px;
		transition: border-color .1s;
		&:hover{ border-color: $ui-border-color-active; }

		&.section{ border-color: $red; }
		&.text{ border-color: $green; }
		&.inline{ border-color: $blue; }
		&.column{ border-color: $purple; }
	}
}

.editor__add{
	position: relative;
	display: inline-block;
	left: 50%;
	width: 120px; height: 80px;
	margin-top: 40px;
	margin-bottom: 40px;
	color: #aaa;
	font-size: 3.2rem;
	text-align: center;
	transform: translate3d(-50%, 0, 0);
	transition: color .2s;
	cursor: pointer;

	&:hover{ color: #777; }
	&::after{
		content: '+';
		line-height: 80px;
	}
}
