.button{
	display: inline-block;
	padding: 4px 10px;
	background-color: $cyan;
	border: none;
	text-decoration: none;
	font-style: normal;
	color: $gray-lighter;
	border-radius: 2px;
	transition: background .2s;
	cursor: pointer;
	box-shadow: $button-shadow;
	&:hover{ background-color: $blue-dark; }
	&--default{
		color: $gray-dark;
		background-color: $gray-light;
		&:hover{ background-color: $gray; }
	}
	&--primary{
		background-color: $coral;
		margin-bottom: 20px;
		&:hover{ background-color: $coral-dark; }
	}
	&--close{
		position: absolute;
		top: -5px; right: -5px;
		width: 25px; height: 25px;
		padding: 0;
		line-height: 25px;
		text-align: center;
		background-color: transparent;
		text-shadow: 0 0 3px rgba($black, .4);
		border: none;
		box-shadow: none;
		color: $red;
		font-size: 20px;
		border-radius: 50%;
		transition: background-color .2s, color .2s;
		&:hover{
			background-color: $red;
			color: $white;
		}
	}
	&--export{
		font-size: 24px;
		min-width: 180px;
		.fa{ margin-right: 5px; }
	}
}

