.cards{
	@extend %clearfix;
	@include small-screen-up{
		margin-left: -15px;
		margin-right: -15px;
	}
	@include large-screen-up{
		margin-left: -20px;
		margin-right: -20px;
	}
}

.card{
	@include column(12, 12, 6, 4);
	position: relative;
	margin-top: 20px;
	@include small-screen-up{
		margin-top: 40px;
		padding-left: 15px;
		padding-right: 15px;
	}
	@include large-screen-up{
		padding-left: 20px;
		padding-right: 20px;
	}

	&--done .card__container{
		opacity: .6;
		transition: opacity .2s;
		&:hover{ opacity: .9; }
	}
}

.card__container{
	position: relative;
	display: block;
	box-shadow: $box-shadow;
	overflow: hidden;
	text-decoration: none;
	font-weight: 200;
	font-size: 13px;
	border-top: 5px solid;

	&:hover{
		.card__content, .card__meta{ transform: translateY(-50px); }
		.card__content{ box-shadow: 0 -5px 50px rgba($black, .2); }
	}
	&--done{ border-top-color: $gray-blue; }
	&--in_review{ border-top-color: $red; }
	&--in_progress{ border-top-color: $yellow; }
	&--started{ border-top-color: $green; }
	strong{ font-weight: 400; }
}

.card__cover{
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 100%; height: 280px;
	overflow: hidden;
	img{
		display: block;
		max-width: 100%;
		height: auto;
	}
}

.card__content{
	padding: 20px;
	background-color: $white;
	text-align: center;
	transition: transform .2s, box-shadow .5s;
}

.card__title{
	position: relative;
	margin-top: 0;
	margin-bottom: 25px;
	font-weight: 400;
	font-size: 20px;

	&::after{
		content: '';
		position: absolute;
		display: block;
		width: 10%; height: 3px;
		bottom: -10px; left: 45%;
		background-color: $coral;
	}
}

.card__meta{
	position: absolute;
	top: 100%; left: 0; right: 0;
	padding: 5px 20px;
	color: $gray-dark;
	border-top: 1px solid $gray-light;
	background-color: $white;
	line-height: 1.5;
	transition: transform .2s;

	.fa{ margin-right: 5px; }
	.no_version{
		line-height: 1;
	}
}

