.comment__title{
	@extend .version__title;
	input[type=checkbox]{ margin-right: 10px; }
}

.comment{
	position: relative;
	text-decoration: none;
	font-weight: 200;
	font-size: 13px;
	overflow: hidden;

	&--hover{ .comment__title, .comment__title:hover{ color: $coral; }}
	&--done{
		background-color: $gray-light;
		&--hover{ .comment__title, .comment__title:hover{ color: $coral; }}
		.comment__title:hover{ color: $black; }
	}
	.fa{
		color: $gray-dark;
		margin-left: 5px;
		margin-right: 5px;
	}
}

.striked{ text-decoration: line-through; }

.comments{ background-color: $gray-light; }

.comment__content{
	padding: 15px 20px;
	border-bottom: 1px solid $gray;
	box-shadow: $header-shadow-lighter;
	background-color: $white;
}

.response{ padding: 12px 40px; }

.comment__respond{
	float: right;
	text-decoration: none;
	transition: color .2s;

	.fa{ transition: color .2s; }
	&:hover, &:hover .fa{ color: $coral; }
}

.response__content{
	margin-top: 0;
	margin-bottom: 5px;
	font-weight: 400;
	font-size: 13px;
	transition: color .2s;
}

.comment__dot{
	position: absolute;
	width: 35px; height: 35px;
	color: $white;
	font-size: 20px;
	text-decoration: none;
	line-height: 35px !important;
	background-color: $coral;
	border-radius: 50%;
	opacity: .8;
	text-align: center;
	transition: background .2s, opacity .2s;
	transform: translateX(-50%) translateY(-50%);
	box-shadow: 0 0 8px rgba($black, .3);

	&--hover{
		background-color: $coral-dark;
		opacity: 1;
		z-index: 1;
	}
	&--done{
		background-color: $gray-light;
		color: $gray-darker;
		&--hover{ background-color: $gray; }
	}
}
