.dropdown{
	position: relative;
	z-index: 1;
	> ul{
		@extend %navbar;
		display: none;
		position: absolute;
		top: 100%; right: 0;
		background-color: $white;
		line-height: 1.3;
		box-shadow: $header-shadow;
		> li{
			width: 100%;
			padding-left: 0;
			padding-right: 0;
			> a{
				display: block;
				padding: .4rem 1rem;
				transition: color .2s, background-color .2s;
				text-decoration: none;
				&:hover, &:focus, &:active, &.active{
					background-color: $gray-light;
				}
			}
		}
	}
	&.open > ul{ display: block; }
	.fa{
		margin-left: 3px;
		font-size: 11px;
	}
}
