.filter{
	@extend %clearfix;
	line-height: 35px;
	> *{ float: right; }
	> label{
		display: block;
		color: $gray-dark;
	}
	> input[type=checkbox]{
		width: 18px; height: 18px;
		margin-top: 9px;
		margin-left: 10px;
		margin-right: 10px;
	}
}
.filter__status{
	height: 35px;
	padding-left: 2px;
	padding-right: 10px;
	color: $gray-dark;
	border: none;
	border-bottom: 1px solid $gray;
	background-color: transparent;
	transition: border .2s;
	&:hover, &:focus, &:active, &.active{ border-bottom-color: $coral; }
}
.filter__search{
	@extend %clearfix;
	float: left;
	display: inline-block;
	label, input{
		float: left;
		padding-top: 0;
		padding-bottom: 0;
		line-height: 35px;
		border-bottom: 1px solid transparent;
	}
	label{
		transition: border .2s;
		font-size: 20px;
		color: $gray-dark;
	}
	input{
		padding-left: 15px;
		padding-right: 15px;
		background-color: transparent;
		border-top: none;
		border-left: none;
		border-right: none;
		color: transparent;
		transition: border .2s, color .2s;
	}
	&:hover, &:focus, &:active, &.active, &--filled{ input{ color: inherit; }}
	&:hover, &--filled{ label, input{ border-bottom-color: $gray; }}
	&--filled:hover, &:focus, &:active, &.active{ label, input{ border-bottom-color: $coral; }}
	&.icons{ width: 100%; }
}
