.form--comment{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
.form__group{
	@extend %clearfix;
	margin-right: -20px;
}
.form__field{
	position: relative;
	width: 100%;
	margin-top: 1rem;
	@include medium-screen-up{
		&--half, &--third{
			float: left;
			padding-right: 20px;
		}
		&--half{ width: 50%; }
		&--third{ width: 33.33333%; }
	}
	input, select, textarea{
		position: relative;
		width: 100%; height: 3rem;
		margin-bottom: 15px;
		padding-top: 0;
		padding-bottom: 0;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid $gray-dark;
		font-size: 1rem;
		transition: border 0.3s;
		z-index: 1;
	}
	textarea{ margin-top: 1rem; }
	input[type=checkbox]{
		display: inline-block;
		width: 18px; height: 18px;
		~ label{ top: -3px; left: 25px; }
	}
	label{
		color: $gray-dark;
		position: absolute;
		top: .8rem; left: 0;
		font-size: 1rem;
		transition: color .2s, font-size .2s, transform .2s;
	}
	select{
		&:hover, &:focus, &:active, &.active{ border-bottom-color: $coral; }
	}
	&.active label, input:not([type=checkbox]):focus ~ label, textarea:focus ~ label, input[type=date] ~ label, select ~ label{
		font-size: .7rem;
		transform: translateY(-140%);
	}
	input:focus, textarea:focus{ border-bottom-color: $coral; }
	input:focus, textarea:focus, select:focus, select:active{ ~ label{ color: $coral; }}
}
