.header, .sub-header{
	@extend %clearfix;
	position: relative;
	font-weight: 300;
	font-size: 14px;
	line-height: 50px;
	background-color: $coral;
	box-shadow: $header-shadow;
	z-index: 1;
}
.header__container, .sub-header__container{ @extend %container; }
.header__left, .sub-header__left{ float: left; }
.header__right, .sub-header__right{ float: right; }
.header__left, .sub-header__left, .header__right, .sub-header__right{
	@extend %navbar;
	> li > a{
		color: $gray;
		text-decoration: none;
		transition: color .2s, text-shadow .4s;
		&:hover, &:focus, &:active, &.active{
			color: $gray-lighter;
			text-shadow: 1px 1px 2px rgba($black, .3);
			text-decoration: none;
		}
	}
}

.sub-header::before{ height: 6.6rem; }
.sub-header__title{
	position: relative;
	display: block;
	float: none;
	padding-left: 1rem;
	font-size: 26px;
	color: $gray-lighter;
	text-decoration: none;
	line-height: 2.2;

	a{
		color: $gray-lighter;
		text-decoration: none;
	}
	&__separator{ opacity: .4; }
}
.sub-header__left, .sub-header__right{
	font-weight: 400;
	line-height: 3;
	margin-top: 5px;
	> li > a{
		padding-left: 5px;
		padding-right: 5px;
		border-bottom: 3px solid transparent;
		text-transform: uppercase;
		transition: border-bottom .4s;
		&:hover, &:focus, &:active, &.active{ border-bottom-color: $gray-lighter; }
	}
	> li.dropdown > a{ border-bottom-color: transparent; }
}
