.hero{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: $gray-light;
	strong{ font-weight: 600; }
}
.hero__container{
	@extend %container;
	@extend %clearfix;
	position: relative;
	background-color: $gray-light;
}
.hero__left{
	@include column(12, 4, 3, 2);
	position: relative;

	img{ width: 100%; }
}
.hero__right{
	@include column(12, 8, 9, 10);
	@include small-screen-up{ padding-left: 30px; }
}
.hero__title{
	margin-bottom: 15px;
	font-weight: 600;
	font-size: 26px;
	@include medium-screen-up{ width: 50%; }
	@include small-screen-up{ margin-top: 0; }
}
.hero__content{ font-size: 18px; }
.hero__meta{
	margin-bottom: 15px;
	line-height: 1.5;
	font-weight: 200;
	@include medium-screen-up{
		position: absolute;
		width: 50%;
		top: 0;
		text-align: right;
		span{ display: block; }
	}
	@include medium-screen{ right: 30px; }
	@include large-screen-up{ right: 0; }
	.fa{
		margin-right: 5px;
		color: $gray-dark;
	}
}

.hero__subtitle{
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 200;
	font-size: 16px;
}
