@keyframes modal--open-opacity{
	from{ opacity: 0; }
	to{ opacity: 1; }
}
@keyframes modal--close-opacity{
	from{
		z-index: 0;
		opacity: 1;
	}
	to{ opacity: 0; }
}
@keyframes modal--open-translate{
	from{ transform: translateY(-50%); }
	to{ transform: translateY(0); }
}
@keyframes modal--close-translate{
	from{ transform: translateY(0); }
	to{ transform: translateY(-50%); }
}

.modal{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: -1;
	opacity: 0;
	&::before{
		content: '';
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		background-color: rgba(#100, .2);
	}
	&.active{
		z-index: 0;
		opacity: 1;
		animation: modal--open-opacity .2s ease-out;
		.modal__content{ animation: modal--open-translate .2s ease-out; }
	}
	&.closing{
		animation: modal--close-opacity .2s ease-in;
		.modal__content{ animation: modal--close-translate .2s ease-in; }
	}
}
.modal__title{
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 600;
	color: $coral-dark;
}
.modal__content{
	position: relative;
	width: 800px;
	max-height: 100%;
	padding: 30px 50px;
	background-color: $gray-lighter;
	overflow-x: hidden;
	overflow-y: auto;
}
.modal__close{
	position: absolute;
	top: 0; right: 10px;
	text-decoration: none;
	font-size: 32px;
	color: $gray-dark;
	transition: color .2s;
	&:hover{ color: $coral; }
}
