.team{ margin-bottom: 20px; }
.team__member, .team__add{
	display: inline-block;
	width: 35px; height: 35px;
	margin-right: 3px;
	margin-bottom: 3px;
	border-radius: 100%;
	font-weight: 600;
	line-height: 35px;
	letter-spacing: 1px;
	text-align: center;
	text-shadow: 0 0 2px rgba($black, .2);
	text-decoration: none;

	&--small{
		width: 25px; height: 25px;
		font-size: 13px;
		line-height: 25px;
	}
}
.team__member{
	color: $gray-light;
	opacity: .6;
	transition: opacity .2s;

	&:nth-of-type(6n){ background-color: #4db6ac; }
	&:nth-of-type(6n + 1){ background-color: #7986CB; }
	&:nth-of-type(6n + 2){ background-color: #4DD0E1; }
	&:nth-of-type(6n + 3){ background-color: #FF8A65; }
	&:nth-of-type(6n + 4){ background-color: #E57373; }
	&:nth-of-type(6n + 5){ background-color: #B39DDB; }
	&:hover{ opacity: 1; }
}
.team__add{
	color: $gray-lighter;
	background-color: #26C6DA;
	box-shadow: $button-shadow;
	transition: all .15s;

	&:hover{ transform: scale3d(1.1, 1.1, 1); }
	.fa{ margin-right: -3px; }
}
