.version{
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	font-weight: 200;
	font-size: 13px;
	transition: background .2s;

	&:hover{
		.version__title{ color: $coral; }
	}
	&--active{ background-color: $gray-light; }
	&:not(:last-child){ border-bottom: 1px solid $gray; }
	.fa{
		color: $gray-dark;
		margin-right: 5px;
	}
}

.version__title{
	font-weight: 400;
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 5px;
	transition: color .2s;

	strong{ font-weight: 600; }
}
