.workflow{
	@extend %clearfix;
	position: relative;
	margin-left: -10px;
	margin-right: -10px;
}

.workflow__column{
	@include column(12, 6, 3, 3);
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 20px;
	&::after{
		content: '';
		position: absolute;
		top: 0; left: 10px; bottom: 0; right: 10px;
		border: 2px dashed transparent;
		transition: border .5s, background .5s;
		z-index: -1;
	}
	&--over{
		cursor: grabbing;
		*{ cursor: inherit !important; }
		.workflow__container{ border-top-color: transparent; }
		&::after{
			border-color: $coral;
			background-color: rgba($white, .6);
			z-index: 0;
		}
	}
}

.workflow__container{
	background-color: $white;
	border-top: 5px solid;
	box-shadow: $box-shadow-darker;
	transition: border .2s;
	overflow: hidden;

	&--done{ border-top-color: $gray-blue; }
	&--in_review{ border-top-color: $red; }
	&--in_progress{ border-top-color: $yellow; }
	&--started{ border-top-color: $green; }
}

.workflow__title{
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	font-weight: 200;
	box-shadow: $header-shadow-lighter;
	z-index: 0;
}

.workflow__prototypes{ background-color: $gray-light; }

.workflow__prototype{
	@extend %clearfix;
	padding: 10px;
	border-bottom: 1px solid $gray;
	transition: background .2s;
	&:hover{ background-color: $gray-medium; }
	&:last-child{ border-bottom: none; }
	a{
		text-decoration: none;
		transition: color .2s;
		&:hover{ color: $coral; }
	}
}

.workflow__meta{
	font-size: 13px;
	.fa{ color: $gray-dark; }
}

.workflow__image{
	float: left;
	margin-right: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 60px; height: 60px;
	cursor: inherit;
	overflow: hidden;
	@include small-screen{ display: none; }
	@include medium-screen{ display: none; }
	img{
		display: block;
		max-width: 100%;
		height: auto;
	}
}
