<section class="hero">
	<div class="hero__container">
		<div class="hero__left">
			<img ng-src="{{ project.image ? '/images/project/' + project.image + '.jpg' : 'http://placehold.it/200x200' }}" alt="">
		</div>
		<div class="hero__right">
			<h3 class="hero__title">
				{{ project.name }}
				<span class="tag">{{ project.type }}</span>
			</h3>

			<div class="hero__meta">
				<span>
					<i class="fa fa-calendar-o"></i>
					du {{ project.startedAt | dateFormat }} au {{ project.endedAt | dateFormat }}
				</span>
				<span>{{ projectStatuses[project.status] | humanCase }}</span>
			</div>

			<div class="team">
				<a href class="team__member" title="Aude Blanchet">AB</a>
				<a href class="team__member" title="Solange Ollivier">SO</a>
				<a href class="team__member" title="Frédéric Bourdon">FB</a>
				<a href class="team__member" title="Hippolyte Maire">HM</a>
				<a href class="team__add" title="Ajouter un utilisateur">
					<i class="fa fa-user-plus"></i>
				</a>
			</div>

			<p>{{ project.content }}</p>
		</div>
	</div>
</section>

<section class="container">
	<a href class="prototype__add" title="Créer un prototype" ui-sref="prototypeNew">
		<i class="fa fa-file"></i>
		+
	</a>

	<div class="filter" ng-show="prototypes.length">
		<div class="filter__search" ng-class="{ active: search, 'filter__search--filled': query.length }">
			<label for="search" class="fa fa-search"></label>
			<input type="text" id="search" placeholder="Recherche..." autofocus ng-model="query" ng-focus="search = true" ng-blur="search = false">
		</div>

		<select class="filter__status" ng-model="status">
			<option value>tous</option>
			<option ng-repeat="(key, value) in ::statuses" value="{{ key }}">{{ value }}</option>
		</select>
		<label for="filterStatus">Filtrer par</label>
	</div>

	<div class="cards">
		<div class="card" ng-repeat="prototype in filteredPrototypes = (prototypes | filter:{ status: status } | filterBy: ['name']: query)" ng-class="{ 'card--done': prototype.status === 'done' }">
			<a href class="card__container" ui-sref="prototype.view({ id: prototype.id })" ng-class="cardStatusClass(prototype.status)">
				<div class="card__cover">
					<img src="/images/prototype/{{ prototype.image || 'default' }}.jpg" alt="Prototype {{ prototype.name }}">
				</div>
				<div class="card__content">
					<h3 class="card__title">{{ prototype.name }}</h3>
					<strong>Modifié</strong>
					{{ prototype.updatedAt | prettyDate }}
				</div>
				<div class="card__meta" ng-hide="!prototype.version">
					<i class="fa fa-history"></i>
					<strong>{{ prototype.version.tag }}</strong>
					{{ prototype.version.name }}
					<br>
					<i class="fa fa-user"></i>
					{{ prototype.version.user.firstname }} {{ prototype.version.user.lastname }}
				</div>
				<div class="card__meta no_version" ng-hide="prototype.version">
					<p>Aucune version</p>
				</div>
			</a>
		</div>
	</div>

	<p class="result--none">
		<span ng-hide="!query.length || filteredPrototypes.length">
			<span class="result__title">Aucun résultat</span>
		</span>

		<span ng-if="!prototypes.length">
			<span class="result__title">Il n'y a aucun prototype pour le moment.</span>
			<i class="fa fa-file"></i>
			<a class="button" ui-sref="prototypeNew">Commencer !</a>
		</span>
	</p>
</section>
