$grid-size:				12 !default;

$small-screen-size:		480px;
$medium-screen-size:	640px;
$large-screen-size:		1024px;
$larger-screen-size:	1250px;

@mixin column_size($size){ width: $size / $grid-size * 100%; }

@mixin small-screen(){
	@media screen and (min-width: $small-screen-size) and (max-width: $medium-screen-size){ @content; }
}
@mixin small-screen-up(){
	@media screen and (min-width: $small-screen-size){ @content; }
}
@mixin medium-screen(){
	@media screen and (min-width: $medium-screen-size) and (max-width: $large-screen-size){ @content; }
}
@mixin medium-screen-up(){
	@media screen and (min-width: $medium-screen-size){ @content; }
}
@mixin large-screen(){
	@media screen and (min-width: $large-screen-size) and (max-width: $larger-screen-size){ @content; }
}
@mixin large-screen-up(){
	@media screen and (min-width: $large-screen-size){ @content; }
}
@mixin larger-screen(){
	@media screen and (min-width: $larger-screen-size){ @content; }
}

@mixin column-smallest($size){
	float: left;
	@include column-size($size);
}
@mixin column-small($size){
	float: left;
	@include small-screen(){ @include column-size($size); }
}
@mixin column-medium($size){
	float: left;
	@include medium-screen(){ @include column-size($size); }
}
@mixin column-large($size){
	float: left;
	@include large-screen-up(){ @include column-size($size); }
}
@mixin column($smallest-size, $small-size, $medium-size, $large-size){
	@include column_size($smallest-size);
	float: left;
	@include small-screen(){ @include column-size($small-size); }
	@include medium-screen(){ @include column-size($medium-size); }
	@include large-screen-up(){ @include column-size($large-size); }
}
