<div class="hero">
	<div class="hero__container">
		<h3 class="hero__title">Bonjour !</h3>

		<p class="hero__content" ng-if="projects.length">
			Vous avez actuellement
			<span ng-repeat="(key, value) in ::statusesCount">
				<strong>{{ value }}</strong>
				projet{{ value > 1 ? 's' : '' }}
				<span class="status status--{{ key }}">{{ statuses[key] }}{{ (key === 'done' && value > 1) ? 's' : '' }}</span>{{ $index === statusesCountLength ? '' : ($index === statusesCountLength - 1 ? ' et' : ',') }}</span>.
		</p>
	</div>
</div>

<div class="container">
	<a href class="prototype__add" title="Créer un projet" ui-sref="projectsNew">
		<i class="fa fa-folder-open-o"></i>
		+
	</a>

	<div class="filter" ng-show="projects.length">
		<div class="filter__search" ng-class="{ active: search, 'filter__search--filled': query.length }">
			<label for="search" class="fa fa-search"></label>
			<input type="text" id="search" placeholder="Recherche..." autofocus ng-focus="search = true" ng-blur="search = false" ng-model="query">
		</div>

		<select class="filter__status" id="filterStatus" ng-model="status">
			<option value>tous</option>
			<option ng-repeat="(key, value) in ::statuses" value="{{ key }}">{{ value }}</option>
		</select>
		<label for="filterStatus">Filtrer par</label>
	</div>

	<div class="cards">
		<div class="card" ng-if="projects.length" ng-repeat="project in filteredProjects = (projects | filter:{ status: status } | filterBy: ['name', 'type']: query)" ng-class="{ 'media--done': project.status == 'done' }">
			<a class="card__container" ui-sref="project.view({ id: project.id })" ng-class="cardStatusClass(project.status)">
				<div class="card__cover">
					<img ng-src="{{ project.image ? '/images/project/' + project.image + '.jpg' : 'http://placehold.it/400x300' }}" alt="Projet {{ project.name }}">
				</div>
				<div class="card__content">
					<h3 class="card__title">{{ project.name }}</h3>
					{{ project.type }}
				</div>
				<div class="card__meta">
					<i class="fa fa-history"></i>
					<strong>du</strong>
					{{ project.startedAt | dateFormat }}
					<strong>au</strong>
					{{ project.endedAt | dateFormat }}
					<br>
					{{ project.prototypesCount }} prototype{{ project.prototypesCount > 1 ? 's' : '' }}
				</div>
			</a>
		</div>
	</div>

	<p class="result--none">
		<span ng-hide="!query.length || filteredProjects.length">
			<span class="result__title">Aucun résultat</span>
		</span>

		<span ng-if="!projects.length">
			<span class="result__title">Vous n'avez aucun projet.</span>
			<i class="fa fa-folder-open-o"></i>
			<a class="button" ui-sref="projectsNew">Commencer !</a>
		</span>
	</p>
</div>
