<nav class="sub-header">
	<div class="sub-header__container">
		<a class="sub-header__title" ui-sref-active="active" ui-sref="project.view({ id: project.id })">{{ project.name }}</a>
		<ul class="sub-header__left">
			<li><a ui-sref-active="active" ui-sref="project.view()">Prototypes</a></li>
			<li><a ui-sref-active="active" ui-sref="project.workflow()">Workflow</a></li>
		</ul>
		<ul class="sub-header__right">
			<li class="dropdown" ng-class="{ open: actions }">
				<a href ng-click="actions = !actions">
					Actions
					<i class="fa" ng-class="{ 'fa-caret-up': actions, 'fa-caret-down': !actions }"></i>
				</a>
				<ul>
					<li><a ui-sref-active="active" ui-sref="projectEdit">Éditer</a></li>
					<li><a ui-sref-active="active" ui-sref="#">Exporter</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>

<section class="page__content" ui-view="content"></div>
