<section class="container">
	<div class="workflow">
		<div id="{{ status }}" class="workflow__column" ng-repeat="(status, prototypes) in columns" ondrop="drop(event, this)" ondragover="over(event)" ondragenter="enter(event, this)" ondragleave="leave(event, this)">
			<div class="workflow__container workflow__container--{{ status }}">
				<h3 class="workflow__title">{{ statuses[status] | humanCase }} ({{ prototypes.length }})</h3>
				<div class="workflow__prototypes">
					<div id="{{ status }}_{{ $index }}" class="workflow__prototype" ng-repeat="prototype in prototypes" draggable="true" ondragstart="start(event)" ondragend="end(event)">
						<div class="workflow__image">
							<img src="/images/prototype/{{ prototype.image || 'default_small' }}.jpg" alt="Prototype {{ prototype.name }}" draggable="false">
						</div>
						<a ui-sref="prototype.view({ id: prototype.id })" draggable="false">{{ prototype.name }}</a>
						<br>
						<div class="workflow__meta">
							<i class="fa fa-history"></i>
							{{ prototype.version.tag }}
							<br>
							<i class="fa fa-user"></i>
							{{ prototype.version.user.firstname }}
							{{ prototype.version.user.lastname }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
