html{
	font-size: 100%;
	box-sizing: border-box;
}

*, *::before, *::after{ box-sizing: inherit; }

html, body{ height: 100%; }

body{
	background-color: $body-background-color;
	font-family: $body-font-family;
	color: $body-font-color;
}

input, textarea, select{ outline: none; }
textarea{ resize: vertical; }

label[for]{ cursor: pointer; }

[draggable]{
	cursor: grab;
	transition: opacity .3s;
	user-select: none;
	&.dragged{ opacity: .5; }
}
