%clearfix{
	&::after{
		content: '';
		display: table;
		clear: both;
	}
}

%container{
	@extend %clearfix;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	@include medium-screen{
		padding-left: 30px;
		padding-right: 30px;
	}
	@include large-screen-up{
		padding-left: 0;
		padding-right: 0;
		margin-right: auto;
		margin-left: auto;
	}
	@include large-screen{ width: $large-screen-size - 50px; }
	@include larger-screen{ width: $larger-screen-size - 80px; }
}

%navbar{
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
	li{
		display: inline-block;
		padding-right: .8rem;
		padding-left: .8rem;
		a{ display: inline-block; }
	}
}

%center-block{
	left: 50%;
	transform: translateX(-50%);
}

.page{
	position: relative;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 0;
}
.page__content, .page__container{ overflow: hidden; }
.page__container{
	position: relative;
	display: flex;
	min-height: calc(100% - 50px);
	flex-direction: column;
}
.page__content{ flex: 1; }

.container{
	@extend %container;
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
}
