$coral:				#ff7473;
$coral-light:		#ff8181;
$coral-dark:		#e56867;
$cyan:				#26c6da;
$blue:				#47b8e0;
$blue-dark:			#4ea1d3;
$gray-lighter:		#fafafa;
$gray-light:		#e8edf1;
$gray-medium:		#dfe6eb;
$gray:				#d9e1e8;
$gray-dark:			#8a8a8a;
$gray-darker:		#444;
$gray-blue:			#818C92;
$white:				#fff;
$black:				#000;
$yellow:			#ffca28;
$red:				#ef5350;
$green:				#8cd790;
