$body-font-family:		'Open Sans', sans-serif;
$body-font-color:		$gray-darker;
$body-background-color:	$gray-lighter;

$box-shadow:			0 1px 7px rgba($black, .1);
$box-shadow-darker:		0 1px 5px rgba($black, .2);
$header-shadow:			0 2px 5px rgba($black, .1);
$header-shadow-lighter:	0 2px 5px rgba($gray-dark, .1);
$button-shadow:			0 1px 4px rgba($black, .2);
$button-shadow-darker:	0 1px 5px rgba($black, .4);
