<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>Corail - {{ name }}</title>

    <meta name="description" content="{{ description }}">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/application.css">
</head>
<body class="prototype__view" style="width: 1280px;">
	{{{ content }}}
</body>
</html>
