<h2 class="modal__title">Ajouter une version</h2>
<form class="form" ng-submit="addVersion()">
	<div class="form__field" ng-class="{ active: version.name.length }">
		<input type="text" ng-model="version.name">
		<label>Nom</label>
	</div>

	<div class="form__field" ng-class="{ active: version.tag.length }">
		<input type="text" ng-model="version.tag">
		<label>Tag</label>
	</div>

	<button type="submit" class="button">Ajouter</button>
	<a class="button button--default" ui-sref="^">Retour</a>
</form>
