<h2 class="modal__title">Sauvegarder les modifications</h2>
<form class="form" ng-submit="editVersion()">
	<br>
	<button type="submit" class="button button--primary">Écraser la version actuelle ({{ ::version.tag }})</button>

	<div class="form__field" ng-class="{ active: version.tag.length }">
		<input type="text" ng-model="version.tag">
		<label>Tag</label>
	</div>
	<button class="button" ui-sref="prototypeVersionAdd">Sauvegarder en tant que nouvelle version</button>
	<br><br>

	<a class="button button--default" ui-sref="^">Continuer</a>
</form>
