<section class="prototype__container">
	<div class="prototype__sidebar">
		<div class="filter">
			<div class="filter__search" ng-class="{ active: search }">
				<label for="search" class="fa fa-search"></label>
				<input type="text" id="search" placeholder="Recherche..." autofocus ng-model="query" ng-focus="search = true" ng-blur="search = false">
			</div>
		</div>

		<a href class="version" ng-repeat="version in filteredVersions = (versions | filterBy: ['tag', 'name']: query | orderBy: '-createdAt')" ng-click="select(versions.length - $index - 1)" ng-class="{ 'version--active': active === versions.length - $index - 1 }">
			<h3 class="version__title">
				<strong>{{ version.tag }}</strong>
				–
				{{ version.name }}
			</h3>
			<i class="fa fa-clock-o"></i>
			{{ version.createdAt | prettyDate }},
			par
			{{ version.user.firstname }}
			{{ version.user.lastname }}
		</a>

		<p class="result--none" ng-hide="!query.length || filteredVersions.length">
			<span class="result__title">Aucun résultat</span>
		</p>
	</div>

	<div class="prototype__preview" style="background-color: #70777c; zoom: .8;">
		<div class="editor__middle__content">
			<div id="content" class="prototype__view"></div>
		</div>
	</div>
</section>
