<section class="section--toggable" ng-class="{ open: expanded, fullscreen: fullscreen }">
	<section class="hero">
		<div id="hero" class="hero__container">
			<h3 class="hero__title">{{ prototype.name }}</h3>
			<div class="hero__meta">
				<span>
					<i class="fa fa-calendar-o"></i>
					crée le {{ prototype.createdAt | dateFormat }}
				</span>
				<span>{{ statuses[prototype.status] | humanCase }}</span>
			</div>
			<h5 class="hero__subtitle" ng-if="prototype.version.id">
				<i class="fa fa-history"></i>
				{{ prototype.version.tag }} -
				{{ prototype.version.name }}
			</h5>
			<p>{{ prototype.content }}</p>
		</div>
	</section>

	<a href title="{{ expanded ? 'Cacher' : 'Voir' }} la description du prototype" class="section__toggle" ng-click="expanded = !expanded">
		<i class="fa" ng-class="{ 'fa-caret-down': !expanded, 'fa-caret-up': expanded }"></i>
	</a>

	<section class="section__content" style="background-color: #70777c;">
		<div class="editor__middle__content">
			<div id="content" class="prototype__view"></div>

			<p class="result--none" ng-if="!prototype.version.id">
				<span class="result__title">Il n'y a aucune version pour le moment.</span>
				<i class="fa fa-file"></i>
				<a class="button" ui-sref="prototype.draw">Commencer !</a>
			</p>
		</div>

		<a class="arrow arrow__left" ng-if="prototype.previousPrototypeId" ui-sref="prototype.view({ id: prototype.previousPrototypeId })">
			<i class="fa fa-angle-left"></i>
		</a>
		<a class="arrow arrow__right" ng-if="prototype.nextPrototypeId" ui-sref="prototype.view({ id: prototype.nextPrototypeId })">
			<i class="fa fa-angle-right"></i>
		</a>
	</section>
</section>
