<nav class="sub-header">
	<div class="sub-header__container">
		<div class="sub-header__title">
			<a ui-sref-active="active" ui-sref="project.view({ id: prototype.projectId })">{{ project.name }}</a>
			<span class="sub-header__title__separator">/</span>
			<a ui-sref-active="active" ui-sref="prototype.view">{{ prototype.name }}</a>
		</div>
		<ul class="sub-header__left">
			<li><a ui-sref-active="active" ui-sref="prototype.view">Visualisation</a></li>
			<li><a ui-sref-active="active" ui-sref="prototype.draw">Édition</a></li>
			<li ng-if="prototype.version.id"><a ui-sref-active="active" ui-sref="prototype.version">Versions</a></li>
			<li ng-if="prototype.version.id"><a ui-sref-active="active" ui-sref="prototype.comment">Commentaires</a></li>
		</ul>
		<ul class="sub-header__right">
			<li class="dropdown" ng-class="{ open: actions }">
				<a href ng-click="actions = !actions">
					Actions
					<i class="fa" ng-class="{ 'fa-caret-up': actions, 'fa-caret-down': !actions }"></i>
				</a>
				<ul>
					<li ui-sref-active="active"><a ui-sref="prototypeEdit">Éditer</a></li>
					<li ng-if="prototype.version.id" ui-sref-active="active"><a ui-sref="prototypeVersionExport">Exporter</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>

<div id="pageContent" class="page__content" ui-view="content"></div>
