<h2 class="modal__title">{{ project.id ? 'Modifier le projet' : 'Ajouter un projet' }}</h2>
<form class="form" ng-submit="editProject()">
	<div class="form__group">
		<div class="form__field form__field--half" ng-class="{ active: project.name.length }">
			<input type="text" ng-model="project.name">
			<label>Nom</label>
		</div>

		<div class="form__field form__field--half" ng-class="{ active: project.type.length }">
			<input type="text" ng-model="project.type">
			<label>Type</label>
		</div>
	</div>

	<div class="form__field" ng-class="{ active: project.content.length }">
		<textarea ng-model="project.content"></textarea>
		<label>Description</label>
	</div>

	<div class="form__field">
		<input type="date" ng-model="project.startedAt">
		<label>Date du début</label>
	</div>

	<div class="form__field">
		<input type="date" ng-model="project.endedAt">
		<label>Date de fin</label>
	</div>

	<div class="form_field">
		<image-picker data="project" upload="uploadImage"></image-picker>
	</div>

	<!-- <label>Description<textarea></textarea></label>
	Liste des utilisateurs
	<select>
		<option value="0">Indéfini</option>
		<option value="1">Louisa Clarck</option>
		<option value="2">Will Deker</option>
	</select>
	<a href class="button">Ajouter</a> -->

	<button type="submit" class="button">{{ project.id ? 'Modifier' : 'Ajouter' }}</button>
	<a class="button button--default" ui-sref="^">Retour</a>
</form>
