<h2 class="modal__title">Ajouter un commentaire</h2>
<form class="form" ng-submit="addComment()">
	<div class="form__field" ng-class="{ active: comment.content.length }">
		<textarea ng-model="comment.content"></textarea>
		<label>Commentaire</label>
	</div>

	<div class="form__field">
		<input type="checkbox" id="isPrivate" ng-model="comment.isPrivate" checked>
		<label for="isPrivate">Commentaire privé</label>
	</div>

	<button type="submit" class="button">Commenter</button>
	<a class="button button--default" ui-sref="^">Retour</a>
</form>
