<section class="prototype__container">
	<div class="prototype__preview prototype__preview--comment" style="background-color: #70777c; zoom: .8;">
		<div class="editor__middle__content">
			<div id="content" class="prototype__view" ng-click="addComment($event)"></div>
			<a href class="comment__dot" ng-class="{ 'comment__dot--done': comment.isProcessed, 'comment__dot--hover': states.hover === $index }" style="top: {{ comment.positionY }}px; left: {{ comment.positionX }}px;" ng-repeat="comment in filteredComments = (comments | filter:{ isProcessed: showResolved && undefined } | filterBy: ['author', 'content']: query)" ng-mouseover="states.hover = $index">
				{{ $index + 1 }}
			</a>
		</div>
	</div>

	<div class="prototype__sidebar prototype__sidebar--comment">
		<div class="filter">
			<div class="filter__search" ng-class="{ active: search }">
				<label for="search" class="fa fa-search"></label>
				<input type="text" id="search" placeholder="Recherche..." autofocus ng-model="query" ng-focus="search = true" ng-blur="search = false">
			</div>

			<input type="checkbox" id="showResolved" ng-model="showResolved">
			<label for="showResolved">Afficher résolus</label>
		</div>

		<div href class="comments">
			<div class="comment" ng-class="{ 'comment--hover': states.hover === $index }" ng-repeat="comment in filteredComments track by $index" ng-mouseover="states.hover = $index">
				<div class="comment__content">
					<h3 class="comment__title">
						<input type="checkbox" ng-model="comment.isProcessed" ng-click="toggleProcessed($index)" ng-disabled="comment.isDisabled"></input>
						<strong>{{ $index + 1 }}</strong>
						–
						<i class="fa fa-user-secret" ng-show="comment.isPrivate"></i>
						<span ng-class="{ 'striked': comment.isProcessed }">
							{{ comment.content }}
						</span>
					</h3>
					<i class="fa fa-clock-o"></i>
					{{ comment.createdAt | prettyDate }},
					par
					{{ comment.user.firstname }}
					{{ comment.user.lastname }}
					<a href class="comment__respond" ng-click="action = !action" ng-hide="action">
						<i class="fa fa-reply"></i>
						Répondre
					</a>
				</div>

				<div class="responses">
					<div class="response" ng-repeat="response in comment.responses">
						<a href class="team__member team__member--small" title="{{ response.user.firstname + ' ' + response.user.lastname }}" style="float: left;">{{ (response.user.firstname + ' ' + response.user.lastname) | initials }}</a>
						<p class="response__content" style="margin-left: 40px;">{{ response.content }}</p>
					</div>
				</div>

				<form class="form form--comment" ng-show="action" ng-submit="addResponse($index)">
					<div class="form__field" ng-class="{ active: responses[$index] }">
						<textarea id="response{{ $index }}" ng-model="responses[$index]"></textarea>
						<label for="response{{ $index }}">Réponse</label>
					</div>
					<button type="submit" class="button submit">Envoyer</button>
				</form>
			</div>
		</div>

		<p class="result--none" ng-hide="!query.length || filteredComments.length">
			<span class="result__title">Aucun résultat</span>
		</p>
	</div>
</section>
