<h2 class="modal__title">
	{{ prototype.id ? 'Modifier le' : 'Ajouter un' }}
	prototype
</h2>
<form class="form" ng-submit="editPrototype()">
	<div class="form__field" ng-class="{ active: prototype.name.length }">
		<input type="text" ng-model="prototype.name">
		<label>Nom</label>
	</div>

	<div class="form__field">
		<select class="filter__status" ng-model="prototype.status">
			<option value>Choisir un statut</option>
			<option ng-repeat="(key, value) in ::statuses" value="{{ key }}">{{ value | humanCase }}</option>
		</select>
	</div>

	<div class="form__field" ng-class="{ active: prototype.content.length }">
		<textarea ng-model="prototype.content"></textarea>
		<label>Description</label>
	</div>

	<button type="submit" class="button">{{ prototype.id ? 'Modifier' : 'Ajouter' }}</button>
	<a class="button button--default" ui-sref="^">Retour</a>
</form>
