<h2 class="modal__title">Exporter le prototype</h2>

<p class="export">
	<a href="/api/prototypes/{{ prototype.id }}/export/pdf" target="_blank" class="button button--export">
		<i class="fa fa-file-pdf-o"></i>
		en PDF
	</a>
	<span class="or">ou</span>
	<a href="/images/prototype/{{ prototype.image }}.jpg" target="_blank" class="button button--export">
		<i class="fa fa-file-image-o"></i>
		en JPEG
	</a>
</p>
<a class="button button--default" ui-sref="^">Retour</a>
